<html>
    <body>
    <% if(message.error){ %>
    <div><%= message.error %></div>
    <% } %>
    <% if(message.status){ %>
    <div><%= message.status %></div>
    <% } %>
    <form action="/login" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="user"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form>
    <span><a href="/register">Sign up</a></span>
    </body>
</html>
